@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            This is an example application that uses the INgage Networks API.  The application is a corporate dashboard that would
            be displayed on a large screen in an office.  The dashboard shows the latest company news and upcoming events in addition
            to messages and alerts from the administrator.
        </p>
    </div>
</section>
}

</section>